* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/background-a.jpg");
    background-position: center;
}

.container {
    max-width: 400px;
    backdrop-filter: blur(20px);
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

input[type="text"] {

    background: rgba(255, 255, 255, .1);
    color: #fff;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18x;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
}

button:hover {
    background-color: #0056b3;
    background: rgba(255, 255, 255, .5);
}

#weatherInfo {
    margin-top: 20px;
    
}

/* Стилі для зображень */
img {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
}


/* Стилі для блоків з деталями погоди */
.weather-details {
    display: none;
    text-align: center;
    
}

/* Стилі для блоку з погодною інформацією */
.weather-box {
    position: relative;
}


/* Стилі для тексту в блоках вологості та вітру */
#humidity p,
#wind p {
    margin-left: 10px;
    
}

/* Приховування картинок */
.weather-box img {
    display: none;
}

/* Приховування тексту */
.weather-box .description,
.temperature span {
    display: none;
}

.temperature {
    display: none;
}

input[type="text"]::placeholder {
    color: white;
}

.sigma {
    padding: 3px;
}


.info-weather {
    padding: 8.5px;
}

.info-weather:hover {
    border: #73ace9;
    border-radius: 5px;
    padding: auto;
    font-size: large;
    background-color: rgba(255, 255, 255, .1);
    transition: all 0.5s ease-in-out;
}

.info-weather:not(:hover) {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.unit-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.unit-selection label {
    margin-right: 5px;
    
}

.unit-selection select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}


.forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.forecast-day {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}


.option {
    color: black;
}
